body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #060606;
}

canvas {
    border: 1px solid #ffffff;
    display: block;
    margin: 0 auto;
}

#ball {
    width: 20px;
    height: 20px;
    background-color:#ffffff;
    border-radius: 50%;  /* makes it round*/
    position: absolute;  
}

#paddle {
    width: 100px;
    height: 20px;
    background-color: greenyellow;
    position: absolute;
    bottom: 10px  /*positioon it at the bottom*/
}